<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>User Info</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src = "../static/script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="nav-logo"><h1>Horizon Travels</h1></div>
        <ul class = "sidebar">
            <div class = "toggle-off" onclick = hideSidebar()><a href="#"><i class="fa fa-close"></i></a></div>
            <li><a href="/admin" name="home"><i class="fa fa-house"></i> Home</a></li>
            {% if session['logged_in'] %}
            <li><a href="/userinfo" name="userinfo"><i class="fa fa-user"></i> User Info</a></li>
            <li><a href="/flight-schedules" name="manage-flights"><i class="fa fa-plane"></i> Manage Flights</a></li>
            <li><a href="/manage-users" name="manage-users"><i class="fa fa-users"></i> Manage Users</a></li>
            <li><a href="/view-bookings" name="view-bookings"><i class="fa fa-ticket"></i> View Bookings</a></li>
            {% endif %}
        </ul>
        <ul class="nav-links">
            <li class = "hideMobile"><a href="/admin" name="home"><i class="fa fa-house"></i> Home</a></li>
            {% if session['logged_in'] %}
            <li class = "hideMobile"><a href="/userinfo" name="userinfo"><i class="fa fa-user"></i> User Info</a></li>
            <li class="hideMobile"><a href="/flight-schedules" name="manage-flights"><i class="fa fa-plane"></i> Manage Flights</a></li>
            <li class="hideMobile"><a href="/manage-users" name="manage-users"><i class="fa fa-users"></i> Manage Users</a></li>
            <li class="hideMobile"><a href="/view-bookings" name="view-bookings"><i class="fa fa-ticket"></i> View Bookings</a></li>
            {% endif %}
        </ul>
        {% if session['logged_in'] %}
        <button class="btn" onclick="window.location.href = '/logout';">Logout</button>
        {% else %}
        <button class="btn" onclick="window.location.href = '/login';">Login</button>
        {% endif %}
        <li class = "toggle-menu" onclick = showSidebar()><a href="#"><i class="fa fa-bars"></i></a></li>
    </nav>
    <h2>User Information</h2>
    <div class="user-info-container">
        <div class="user-info-card">
            
            <div class="user-info">
                <div class="info-item">
                    <span class="label">First Name:</span>
                    <span class="value">{{ session['fname'] }}</span>
                </div>
                <div class="info-item">
                    <span class="label">Last Name:</span>
                    <span class="value">{{ session['lname'] }}</span>
                </div>
                <div class="info-item">
                    <span class="label">Email:</span>
                    <span class="value">{{ session['user'] }}</span>
                </div>
                <div class="info-item">
                    <span class="label">Phone Number:</span>
                    <span class="value">{{ session['phnum'] }}</span>
                </div>
                <div class="info-item">
                    <span class="label">User Type:</span>
                    <span class="value">{{ session['usertype'] }}</span>
                </div>
            </div>
            <div class="change-password">
                <a href="/change-password" class="change-password-link">If you wish to change your password, click here!</a>
            </div>
        </div>
    </div>
<footer>
    <p>&copy; 2025 Horizon Travels. All rights reserved.</p>
</footer>
</body>
</html>

<!-- 
Student ID : 24017967
Student Name : Marcus Lee
Student Email : kun2.lee@live.uwe.ac.uk
 -->