<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Terms and Conditions</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src = "../static/script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="nav-logo"><h1>Horizon Travels</h1></div>
        <ul class = "sidebar">
            <div class = "toggle-off" onclick = hideSidebar()><a href="#"><i class="fa fa-close"></i></a></div>
            <li><a href="/" name="home"><i class="fa fa-house"></i> Home</a></li>
            <li><a href="/flight-times" name="flight-times"><i class="fa fa-clock"></i> Flight Times</a></li>
            <li><a href="/bookings" name="bookings"><i class="fa fa-ticket"></i> Bookings</a></li>
            {% if session['logged_in'] %}
            <li><a href="/userinfo" name="userinfo"><i class="fa fa-user"></i> User Info</a></li>
            {% endif %}
            {% if session['logged_in'] %}
            <li><a href="/tickets" name="tickets"><i class="fa fa-ticket"></i> Tickets</a></li>
            {% endif %}
        </ul>
        <ul class="nav-links">
            <li class = "hideMobile"><a href="/" name="home"><i class="fa fa-house"></i> Home</a></li>
            <li class = "hideMobile"><a href="/flight-times" name="flight-times"><i class="fa fa-clock"></i> Flight Times</a></li>
            <li class = "hideMobile"><a href="/bookings" name="bookings"><i class="fa fa-ticket"></i> Bookings</a></li>
            {% if session['logged_in'] %}
            <li class = "hideMobile"><a href="/userinfo" name="userinfo"><i class="fa fa-user"></i> User Info</a></li>
            {% endif %}
            {% if session['logged_in'] %}
            <li class = "hideMobile"><a href="/tickets" name="tickets"><i class="fa fa-ticket"></i> Tickets</a></li>
            {% endif %}
        </ul>
            {% if session['logged_in'] %}
            <button class="btn" onclick="window.location.href = '/logout';">Logout</button>
            {% else %}
            <button class="btn" onclick="window.location.href = '/login';">Login</button>
            {% endif %}
    </nav>
    <div>
        <h2>Terms and Conditions</h2>
        <div class=" terms-container">
            <p>Welcome to Horizon Travels! By using our services, you agree to the following terms and conditions:</p>
            <ol>
                <li><strong>Booking Confirmation:</strong> All bookings are subject to confirmation.</li><br>
                <li><strong>Payment:</strong> Full payment is required at the time of booking.</li><br>
                <li><strong>Discounts:</strong> We are happy to inform you that booking will be discounted 25% for booking between 80 and 90 days in advance, 15% for booking between 60 and 79 days in advance, and 10% for booking between 45 and 59 days in advance.</li>
                <li><strong>Cancellations:</strong> Booking cancellation before 60 days of booking date does not incur cancellation charges. Booking
                    cancellation between 30 and 60 days of booking date will incur charges up to 40% of booking price. Within
                    30 days of booking date 100% of booking price will be charged.</li><br>
                <li><strong>Changes:</strong> Changes to bookings may incur additional fees.</li><br>
                <li><strong>Liability:</strong> Horizon Travels is not liable for any loss or damage incurred during travel.</li><br>   
                <li><strong>Data Collection:</strong> We collect your personal information such as your name and contact details solely for the purpose of processing bookings, providing customer support, and improving our services.</li>
            </ol><br><br><br><br><br>
            <p>By proceeding with your booking, you acknowledge that you have read and understood these terms and conditions.</p>
        </div>
        <br>
        <button class="body-btn" onclick="window.location.href = '/register';">Back to Registration Page</button>
    </div>
    <footer>
        <p>&copy; 2025 Horizon Travels. All rights reserved.</p>
    </footer>
</body>
</html>

<!-- 
Student ID : 24017967
Student Name : Marcus Lee
Student Email : kun2.lee@live.uwe.ac.uk
 -->