<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Tickets</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src = "../static/script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="nav-logo"><h1>Horizon Travels</h1></div>
        <ul class = "sidebar">
            <div class = "toggle-off" onclick = hideSidebar()><a href="#"><i class="fa fa-close"></i></a></div>
            <li><a href="/" name="home"><i class="fa fa-house"></i> Home</a></li>
            <li><a href="/flight-times" name="flight-times"><i class="fa fa-clock"></i> Flight Times</a></li>
            <li><a href="/bookings" name="bookings"><i class="fa fa-ticket"></i> Bookings</a></li>
            {% if session['logged_in'] %}
            <li><a href="/userinfo" name="userinfo"><i class="fa fa-user"></i> User Info</a></li>
            {% endif %}
            {% if session['logged_in'] %}
            <li><a href="/tickets" name="tickets"><i class="fa fa-ticket"></i> Tickets</a></li>
            {% endif %}
        </ul>
        <ul class="nav-links">
            <li class = "hideMobile"><a href="/" name="home"><i class="fa fa-house"></i> Home</a></li>
            <li class = "hideMobile"><a href="/flight-times" name="flight-times"><i class="fa fa-clock"></i> Flight Times</a></li>
            <li class = "hideMobile"><a href="/bookings" name="bookings"><i class="fa fa-ticket"></i> Bookings</a></li>
            {% if session['logged_in'] %}
            <li class = "hideMobile"><a href="/userinfo" name="userinfo"><i class="fa fa-user"></i> User Info</a></li>
            {% endif %}
            {% if session['logged_in'] %}
            <li class = "hideMobile"><a href="/tickets" name="tickets"><i class="fa fa-ticket"></i> Tickets</a></li>
            {% endif %}
        </ul>
        {% if session['logged_in'] %}
        <button class="btn" onclick="window.location.href = '/logout';">Logout</button>
        {% else %}
        <button class="btn" onclick="window.location.href = '/login';">Login</button>
        {% endif %}
        <li class = "toggle-menu" onclick = showSidebar()><a href="#"><i class="fa fa-bars"></i></a></li>
    </nav>
    <h2>My Tickets</h2>
    {% if error %}
    <p class="error">{{ error }}</p>
    {% endif %}

    {% if tickets and tickets|length > 0 %}
    <div class="tickets-container">
        {% for ticket in tickets %}
        <div class="ticket-card">
            <div class="ticket-header">
                <h3>Reference: {{ ticket.reference }}</h3>
                <p>Flight Date: {{ ticket.flight_date }}</p>
            </div>

            <div class="ticket-route">
                <div class="departure">
                    <h4>Departure</h4>
                    <p>{{ ticket.depart }}</p>
                    <p>{{ ticket.dep_time }}</p>
                </div>
                <div class="arrival">
                    <h4>Destination</h4>
                    <p>{{ ticket.arrive }}</p>
                    <p>{{ ticket.arr_time }}</p>
                </div>
            </div>

            <div class="ticket-details">
            <p><strong>Booking Date:</strong> {{ ticket.booking_date }}</p>
            <p><strong>Passenger Class:</strong> {{ ticket.class }}</p>
            <p><strong>Number of Seats:</strong> {{ ticket.seat_count }}</p>
            {% if ticket.discount_percentage > 0 %}
            <p><strong>Discount Applied:</strong> {{ ticket.discount_percentage }}%</p>
            {% endif %}
            <h3>Total Price: £{{ ticket.price }}</h3>
            </div>
            <div class="ticket-actions">
                <form action="/change-date" method="POST" style="display:inline;">
                    <input type="hidden" name="reference" value="{{ ticket.reference }}">
                    <button type="submit" class="btn-edit">Change Date</button>
                </form>
                <form action="/cancel-ticket" method="POST"  style="display:inline;" onsubmit="return confirm('Are you sure you want to cancel this booking? There is no refund for cancellation within 30 days of flight date. You will be refunded 60 percent of your ticket price for cancellation within 30 to 60 days of flight date. You will only be fully refunded for cancellation before 60 days of flight date. Do you wish to continue?');">
                    <input type="hidden" name="reference" value="{{ ticket.reference }}">
                    <button type="submit" class="btn-delete">Cancel Ticket</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p class="no-results">No tickets purchased yet.</p>
    <button class="body-btn" onclick="window.location.href='/bookings';">Go to Book a Ticket</button>
    {% endif %}
            <footer>
                <p>&copy; 2025 Horizon Travels. All rights reserved.</p>
            </footer>
</body>
</html>

<!-- 
Student ID : 24017967
Student Name : Marcus Lee
Student Email : kun2.lee@live.uwe.ac.uk
 -->